body {
  background-color: #1f3969;
  /* background-image: url("./images/CandaceN2022_02_26_NSS_0457_T.jpg"); */
}

.header {
	display: flex;
  flex-direction: row;
  /* justify-content: center; */
  justify-content: space-around;
}

.img__me {
  object-fit: cover;
	width: 25%;
  /* height: 25%; */
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section--about {
	width: 25%
}

/* unvisited link */
a:link {
  color: rgb(8, 161, 34);
}

/* visited link */
a:visited {
  color: rgb(201, 102, 21);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: rgb(7, 165, 204);
}